<div class="container mt-3 mb-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <h2>Editar una Orden</h2>
      <%= render 'form' , :button_text => "Actualiza Orden"%>
    </div>
  </div>
</div>