<div class="container my-5">
  <h2>Acerca de Maestros Online</h2>
  <p class="mb-5"><strong>Maestros Online</strong> es una aplicación web que conecta a profesionales de diversos oficios con potenciales clientes. Disponemos de varias especialidades y de maestros cuya calidad en su trabajo está garantizada por la experiencia de nuestros usuarios. Nuestra plataforma le ayudará a encontrar al profesional más cercano a su casa usando geolocalización.</p>

  <div class="d-flex justify-content-center">
          <%= link_to "Iniciar Sesión", new_user_session_path, class: "btn btn-warning rounded-pill text-white mx-3" %>
          <%= link_to "Registrarse", new_user_registration_path, class: "btn btn-warning rounded-pill text-white mx-3" %>
  </div>

  <br /><br /><br /><br />

</div>
