<div class="container my-5">
  <h2>Ayuda para Clientes y Maestros</h2>
  <p class="text-justify">Bienvenido a nuestra secci&oacute;n de ayuda. Aqu&iacute; encontrar&aacute;s informaci&oacute;n tanto si quieres contratar a maestros como si quieres ofrecer tus servicios como maestro.</p>
  <h4>Quiere ser un cliente</h4>
  <p class="text-justify">Para ser un cliente, tienes que registrarte en la plataforma o iniciar sesi&oacute;n si ya est&aacute;s registrado. Luego, puedes usar el buscador para encontrar al maestro que necesitas, en una ubicaci&oacute;n cercana a tu hogar. Una vez que hayas seleccionado al maestro que te brinde mayor confianza y te resulte m&aacute;s conveniente, puedes contratarlo y seguir los pasos para concretar el trato. Puedes comunicarte a trav&eacute;s de mensajes con el maestro, esperar la confirmaci&oacute;n de tu propuesta, pagar la orden de trabajo y, una vez que ya est&eacute; realizado, marcar la orden como completada, dejando una valoraci&oacute;n y una referencia de tu experiencia con el maestro, informaci&oacute;n que ser&aacute; muy valiosa para los futuros clientes de la plataforma.</p>
  <h4>Quiere ser un maestro</h4>
  <p class="text-justify">Para ser un maestro, tienes que haberte registrado como cliente en la plataforma o iniciar sesi&oacute;n si ya est&aacute;s registrado. Luego, puedes dirigirte a tu perfil y seleccionar la opci&oacute;n para convertirte en un maestro, incorporando detalles acerca del trabajo que realizas y fotos a las que podr&aacute;n acceder los clientes cuando est&eacute;n en b&uacute;squeda de un trabajo como el que t&uacute; realizas. Una vez que te hayas convertido en maestro, podr&aacute;s revisar las &oacute;rdenes de trabajo que los clientes han solicitado. Tienes la opci&oacute;n de aceptar las &oacute;rdenes o rechazarlas si no tienes disponibilidad. Asimismo, puedes comunicarte a trav&eacute;s de mensajes con tu potencial cliente para ponerse de acuerdo en las condiciones.</p>

  <br /><br />

  <div class="d-flex justify-content-center">
          <%= link_to "Iniciar Sesión", new_user_session_path, class: "btn btn-warning rounded-pill text-white mx-3" %>
          <%= link_to "Registrarse", new_user_registration_path, class: "btn btn-warning rounded-pill text-white mx-3" %>
  </div>

  <br /><br />

</div>
