<div class="container my-5">
  <h2>Quiénes somos Nosotros</h2>
  <p class="mb-5">Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.</p>

  <div class="d-flex justify-content-center">
          <%= link_to "Iniciar Sesión", new_user_session_path, class: "btn btn-warning rounded-pill text-white mx-3" %>
          <%= link_to "Registrarse", new_user_registration_path, class: "btn btn-warning rounded-pill text-white mx-3" %>
  </div>

  <br /><br /><br /><br />

</div>
