<div class="container mt-3 mb-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <h2>Crear nueva categor&iacute;a</h2>
      <%= simple_form_for @category do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Crear nueva categoría", class: 'btn btn-warning rounded-pill' %>
      <% end %>
    </div>
  </div>
</div>
